<h2>All Historical Landmarks</h2>

<h1>Welcome to the Landmarks list!</h1>
<h3>we will show all the landmarks in our database, clicking their name will send you to their page</h3>

<%@landmarks.each do |lm|%>
  <p><a href="/landmarks/<%=@landmark.id %>"><%=landmark.name%></a>, completed in <% @landmark.year_completed %></p>
<% end %>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
