<h1>Welcome to the Figures list!</h1>
<h3>we will show all the figures in our database, clicking their name will send you to their page</h3>
<%@figures.each do |figure|%>
  <p><a href="/figures/<%=figure.id%>"><%=figure.name%></a></p>
<% end %>